<?xml version="1.0" encoding="utf-8"?>
<Settings>
  <Global>
    <FarmName>Lower Mullacott Farm</FarmName>
    <OnFarm>1</OnFarm>
    <PassRate>250</PassRate>
    <Email>your-email@hotmail.co.uk</Email>
    <EmailUsername>your-username@hotmail.co.uk</EmailUsername>
    <EmailPassword>꽼࿉ఞᶭ롷蒩뿳钪⼭倘箍鰯岔ᐏ걻攺</EmailPassword>
    <EmailServer>smtp.live.com</EmailServer>
    <BackupNumber>6</BackupNumber>
    <ReTestPeriod>0</ReTestPeriod>
    <ReTestAddedTime>0</ReTestAddedTime>
    <Messages>False</Messages>
    <ReminderState>False</ReminderState>
    <Max>True</Max>
    <Boot>True</Boot>
    <BackEndLocation>C:\Program Data\WormCountDatabase</BackEndLocation>
  </Global>
</Settings>